Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database is a storage system that has a collection of data used for easy access, management and maintenance.

SQl -
-SQL stands for Structured Query Language.
-SQL is a language for defining the structure of a database.
-It allow users to access and manipulate the database.
-Types of SQL databases are :- mySQl, Oracle, MsSQL, etc.

NoSQL -
-NoSQL stands for Not Only Structured Query Language.
-NoSQL can store semi-structured and unstructured data. 
-NoSQL are well-suited for real-time, high-speed data processing.
-various popular NoSQL databases are including MongoDB (document-oriented), Cassandra, Neo4j, and Apache HBase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language.
DDL is used to define, manage, and modify the structure of the database, which includes creating and managing database objects.

CREATE - CREATE is used for creating the database/database objects.
example- CREATE DATABSE IF NOT EXISTS Class;
         CREATE TABLE IF NOT EXISTS Students(Rollno. INT PRIMARY KEY, F_Name VARCHAR(10), L_Name VARCHAR(10)) ;
    
DROP - DROP is used for deleting the database and database objects.
example - DROP TABLE Students;  

ALTER - ALTER add the structures in the database objects.
example - ALTER TABLE Students ADD COLUMN Enrollred_course VARCHAR(30);

TRUNCATE - TRUNCATE removes all the records from a table permanently.
example - TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language.
DML operations primarily involve querying, inserting, updating, and deleting data in database tables.


INSERT - INSERT is used to insert data into a table.
example - INSERT INTO Students (Rollno., F_Name, L_Name,) VALUES( 1, 'Bushra', 'Rahman');

UPDATE - UPDATE is used to update the existing data within a table.
example - UPDATE Students SET Rollno. = 2 WHERE F_Name ='Bushra';

DELETE - DELETE is used to delete the all records from a table.
example - DELETE FROM Students WHERE Rollno. = 1;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. That is specially focused on querying and retrieving data from database.
DQL is primarily concerned with the 'SELECT' statement.
In MySQL, DQL is used to retrieve and manipulate data in a read-only manner.

SELECT Statement: The primary DQL statement is SELECT. It is used to query data from one or more database tables. 
With the SELECT statement, we can specify the columns we want to retrieve, apply filters, perform calculations,
and more. 

Example-
SELECT * FROM Students;

##### Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key-
Primary Key is used to make a column unique & not null.
There must be a single primary key in a table.
It ensures data integrity and provides a fast way to retrieve specific records.
And Primary Key are typically used for referencing and linking data between tables.

Foreign Key-
Foreign Key is an attribute or set of attributes that references to primary key of same table or another table(relation).
A table would be more than one foreign key.
Foreign Key is used to maintain referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
   password = "password"
)

mycursor = mydb.cursor()

cursor() :-
The cursor() method is called on the database connection (mydb) to create a cursor object. 
A cursor is like a handle or pointer that allows you to execute SQL commands and fetch results from the database.

execute() :-
The execute() method is called on the cursor object (mycursor) to execute SQL queries.
It takes an argument that you want to execute.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM: The FROM clause specifies the tables or data sources from which the data will be retrieved.

WHERE: The WHERE clause is used to filter rows from the tables specified in the FROM clause.
Rows that meet the specified conditions are included in the result set.

GROUP BY: If specified, the GROUP BY clause is used to group rows based on one or more columns. 
This is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause is used to filter groups of rows that were created by the GROUP BY clause.
It operates similarly to the WHERE clause but acts on grouped data.

SELECT: The SELECT clause specifies which columns or expressions should be included in the result set.
It follows the filtering and grouping operations.

DISTINCT: If the DISTINCT keyword is used, it removes duplicate rows from the result set based on the selected columns.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns in ascending or descending order.